#pageBlock {
	margin: 0 auto;
    width: 100%;
}

#avform{
    text-align: center;
    margin-top: 145px;
    border-bottom: 2px solid #2554C7;
}

label {
	float: left;
    width: 15em;
    text-align: right;
	font-weight: bold;
}

.submitbt {
	background-color: yellow;
	color: blue;
	font-weight: bold;
}

.resetbt {
	background-color: yellow;
	color: blue;
	font-weight: bold;
	margin-left: 1.5%;
}

#button {
    margin-left: 41%;
}

#formFill{
    color: red;  
}

#info {
    box-shadow: 15px 15px 5px lightblue;
    border: 2px solid;
    margin: 37em;
    padding: 2em;
    margin-top: 0em;
    margin-bottom: 5em;
    width: 35%;
}

#edit{
    margin-left:8.3em;
}

#Calendar1{
    width: 15em;
    margin-left: 26%;
}

#timeofcomplaint {
    color: blue;
    background-color: lightyellow;
}

