.Login1{
    margin-left: auto;
    margin-top: -8em;
}

#menu {
    padding-top: 7em;
    font-size: 1.5em;
    margin-top: -2em;
    margin-bottom: 10em;
}

#head{
    margin-top: -18em;
}

h1 {
    margin-left:200px;
    margin-top: -4.5em;
}
